# Core
Django
djangorestframework
django-cors-headers
python-dotenv
whitenoise
pillow
gunicorn
dj-database-url
setuptools

# Serverless (Deployment to AWS Lambda)
# zappa
# django-storages
# boto3
# s3transfer
