version: '3.8'

services:
  backend:
    build: ./backend_django
    command: gunicorn --bind 0.0.0.0:8000 core.wsgi:application
    volumes:
      - ./backend_django:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    restart: always

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    restart: always

  admin:
    build:
      context: ./admin-panel
      dockerfile: Dockerfile
    ports:
      - "3001:80"
    restart: always

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=seaman_fresh
      - POSTGRES_USER=seaman
      - POSTGRES_PASSWORD=freshpassword
    restart: always

volumes:
  postgres_data:
